/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic);
html,
body {
  height: 100%;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.22;
  background-color: #e4e6e8;
}
a,
a:active,
a:visited {
  color: #48aff8;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-weight: 400;
}
a:hover {
  color: #2fa4f7;
  text-decoration: none;
}
p {
  line-height: 1.4;
}
h1 {
  color: #4c5760;
  font-size: 30px;
  font-weight: 400;
  margin-top: 0;
}
h2 {
  color: #4a4a4a;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  margin-bottom: 14px;
}
.bg-white {
  background-color: #fff;
}
.main-wrap {
  min-height: 100%;
  position: relative;
  padding-bottom: 260px;
}
.container-1 {
  width: 1200px;
  padding: 0 49px;
}
.wide-block {
  min-width: 1200px;
}
.main-header {
  background-color: #3f3f3f;
  height: 80px;
  line-height: 80px;
  color: #f1f2ff;
}
.main-header .container-1 {
  position: relative;
}
.main-logo {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 38px;
  background: url("../images/logo.png") no-repeat 0 0;
  margin-right: 4px;
}
.cabinet {
  position: absolute;
  right: 49px;
  top: 0;
}
.cabinet span {
  display: inline-block;
  vertical-align: middle;
  width: 58px;
  height: 22px;
  background-color: #8da836;
  border-radius: 3px;
}
.main-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 260px;
  padding: 30px 0;
  background-color: #9b9b9b;
  color: white;
  font-size: 16px;
  font-weight: 300;
}
.main-footer .container-1 {
  position: relative;
}
.main-footer__help-link {
  position: absolute;
  top: -110px;
  right: 49px;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #656565;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
}
.main-footer__help-link:active,
.main-footer__help-link:focus {
  outline: none;
  text-decoration: none;
}
.main-footer__help-link:visited {
  color: #fff;
}
.main-footer__copy span {
  height: 22px;
  background-color: white;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #555;
  line-height: 22px;
  padding: 0 10px;
}
.main-footer__text {
  width: 570px;
  margin: 10px 0 60px;
  font-size: 12px;
  font-family: arial;
}
.main-footer__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: arial;
  font-size: 12px;
}
.main-footer__menu li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
}
.main-footer__menu li a {
  color: #fff;
}
.main-footer__logo {
  display: inline-block;
  vertical-align: middle;
  width: 86px;
  height: 32px;
  line-height: 32px;
  background-color: white;
  border-radius: 3px;
  font-size: 14px;
  color: #555;
  text-align: center;
  margin-right: 10px;
}
.login-block {
  width: 524px;
  background-color: white;
  border: 1px solid #979797;
  border-radius: 10px;
  margin: 76px auto 122px;
  padding: 30px 20px;
  text-align: center;
  font-weight: 300;
}
.login-block__site-title {
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  color: #334c61;
  font-size: 72px;
  line-height: 85px;
}
.login-block__site-descr {
  color: #979ea4;
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
  line-height: 1.2;
}
.full-width {
  width: 100%;
}
.login-form {
  margin-top: 40px;
}
input.text,
textarea.text {
  border: 2px solid #d4d3db;
  border-radius: 3px;
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 400;
}
input.text:-moz-placeholder,
textarea.text:-moz-placeholder {
  color: #cecece;
  font-size: 20px;
  font-style: italic;
}
input.text::-webkit-input-placeholder,
textarea.text::-webkit-input-placeholder {
  color: #cecece;
  font-size: 20px;
  font-style: italic;
}
input.text:-ms-input-placeholder,
textarea.text:-ms-input-placeholder {
  color: #cecece;
  font-size: 20px;
  font-style: italic;
}
input.text {
  height: 60px;
}
select {
  height: 60px;
  border: 2px solid #d4d3db;
  border-radius: 3px;
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 400;
}
.input-wrap {
  margin-bottom: 42px;
}
.input-wrap p {
  font-size: 16px;
  margin-bottom: 5px;
}
.input-wrap_with-icon {
  position: relative;
}
.input-wrap_with-icon input.text {
  padding-left: 74px;
}
.input-wrap__icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: #d4d3db;
  border-radius: 3px;
  line-height: 60px;
  text-align: center;
  color: #a5a3aa;
  font-size: 24px;
}
.input-wrap__error-msg {
  color: #ca2539;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 4px;
}
.pad-01 {
  position: relative;
  top: -16px;
  margin-bottom: 16px;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  height: 57px;
  line-height: 50px;
  color: white!important;
  font-size: 25px;
  font-weight: 300;
  padding: 0 60px;
  background-color: #777;
  border: 0;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn:hover {
  background-color: #6a6a6a;
}
.btn:disabled {
  background-color: #cecece;
  opacity: 1;
}
.btn .spinner {
  display: inline-block;
  vertical-align: middle;
}
.btn_blue {
  background-color: #48aff8;
}
.btn_blue:hover:not(:disabled) {
  background-color: #2fa4f7;
}
.w-308 {
  width: 308px;
}
.pad-02 {
  margin-top: 60px;
}
.input-wrap_error {
  position: relative;
}
.input-wrap_error .input-wrap__icon {
  background-color: #d0021b;
  color: #fff;
}
.input-wrap_error input.text {
  border-color: #d0021b;
}
.input-wrap_error select {
  border-color: #d0021b;
}
.message {
  background-color: #ccc;
  color: #000;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 18px;
  text-align: left;
  line-height: 1.3;
}
.message ul {
  margin-top: 10px;
  font-size: 14px;
}
.message_error {
  background-color: #ffefef;
  color: #b13544;
}
.promise-block {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 112px 0 80px!important;
  color: #979ea4;
}
.common-block {
  padding: 40px 0 60px;
}
.common-block__inner {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
.promise-block__text-01 {
  font-size: 20px;
  color: #9b9b9b;
  margin-bottom: 40px;
}
.tell-us-block {
  background-color: #edecec;
  color: #9b9b9b;
  font-size: 20px;
  line-height: 22px;
}
.tell-us-block__choise {
  white-space: normal;
  height: auto;
  line-height: 1.2;
  width: 190px;
  padding: 0;
  border-radius: 0;
  margin: 0 16px;
  background: none;
  box-shadow: none;
  color: #9b9b9b!important;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}
.tell-us-block__choise.active {
  box-shadow: none;
}
.tell-us-block__choise.active .wfm-radio {
  background-image: url("../images/radio-active.png");
}
.tell-us-block__choise:hover {
  background: none;
}
.tell-us-block__choise-img {
  width: 190px;
  height: 120px;
  margin-bottom: 18px;
}
.tell-us-block__choise-title {
  margin-bottom: 22px;
  color: #4a4a4a;
}
.wfm-radio {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url("../images/radio.png") no-repeat 0 0;
  position: relative;
  top: -2px;
  margin-right: 4px;
}
.wfm-radio.active {
  background-image: url("../images/radio-active.png");
}
.steps-block {
  background-color: #fff;
  color: #9b9b9b;
  font-size: 20px;
}
.steps-block-item {
  width: 194px;
  margin: 20px 10px 40px;
  display: inline-block;
  vertical-align: top;
}
.steps-block-item__pic {
  width: 80px;
  height: 80px;
  background-color: #d8d8d8;
  border: 1px solid #979797;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}
.steps-block-item__pic img {
  width: 78px;
  height: 78px;
  border-radius: 50%;
}
.steps-block-item__title {
  color: #4a4a4a;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  min-height: 46px;
}
.pad-03 {
  width: 308px;
}
.wfm-steps {
  padding: 20px 0 40px;
  text-align: center;
}
.wfm-step {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #e5e7e8;
  position: relative;
}
.wfm-step.active {
  background-color: #cecece;
}
.wfm-step.active:after {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 6px;
  left: 6px;
  content: "";
  background-color: #8da836;
  border-radius: 50%;
}
.wfm-steps__dvdr {
  display: inline-block;
  vertical-align: middle;
  height: 8px;
  width: 90px;
  background-color: #e5e7e8;
  margin: 0 -5px;
}
.wfm-step__text {
  width: 90px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -45px;
  margin-top: 14px;
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.personal-info-form {
  margin-top: 60px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  color: #9b9b9b;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.personal-info-form .input-wrap {
  margin-bottom: 28px;
  text-align: left;
  color: #4a4a4a;
}
.personal-info-form .input-wrap__error-msg {
  margin-top: 1px;
}
.wfm-hint {
  color: #78b639;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 30px;
}
.pad-04 {
  width: 264px;
  margin-right: 20px;
}
.w-210 {
  width: 210px;
}
.w-342 {
  width: 342px;
}
.w-136 {
  width: 136px;
}
.input-wrap__descr {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  margin-bottom: 27px;
}
.input-wrap__addit-checkbox {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.input-wrap__addit-checkbox input {
  position: relative;
  top: 2px;
}
.pad-05 {
  margin-top: 77px;
}
.pad-05__link {
  margin-top: 14px;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.valign-mid {
  vertical-align: middle;
}
.common-modal .modal-dialog {
  width: 524px;
}
.common-modal .modal-body {
  padding: 37px;
  color: #9b9b9b;
}
.common-modal .modal-body h2 {
  margin: 0 0 20px;
}
.common-modal .input-wrap {
  margin-bottom: 18px;
}
.pad-06 {
  font-weight: 300;
  margin-top: 30px;
}
.pad-07 {
  margin: 50px 0;
}
.pad-08 {
  width: 600px;
  color: #979ea4;
  margin: 0 auto;
}
.invest-form {
  width: 500px;
  margin: 34px auto;
}
.radio-chbx-wrap {
  padding-left: 30px;
  position: relative;
}
.radio-chbx-wrap label {
  font-weight: normal;
  color: #9b9b9b;
  font-size: 20px;
}
.radio-chbx-wrap input {
  position: absolute;
  top: 4px;
  left: 0;
}
